<%- include('header'); -%>
<!-- demo-day start-->
<h1>My Saved</h1>
              <section class="postFave">
              <ul>
              <section class="favePost">
              <% for(var i=0; i<posts.length; i++) {%>
                <li class="lilili" data-id="<%= posts[i]._id%>" data-following="<%= user._id%>">
                  <div class="dish_area">
                    <div class="container">
                      <div class="row">
                        <div class="col-xl-12">
                          <div class="dish_wrap d-flex">
                  <!-- <div class="single_dish text-center"> -->
                      <div class="single_dish text-center">
                      <div class="thumb">
                        <a class="thumb" href="/post/<%= posts[i]._id%>">
                          <img src="<%= posts[i].imgPath%>">
                        </a>
                          </div>
                  <!-- </div> -->
                        <br>
                        <h3><%= posts[i].caption %></h3>
                        <p><%= posts[i].shortDescription %></p>
                        <span><%= posts[i].likes %></span>
                        <span><%= posts[i].likeCount %></span>
                        <span><i class="fa fa-heart <%= posts[i].fave %>" aria-hidden="true"></i></span>
                        </div>
                        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
              <% } %>
                </section>
              </ul>
            </section>












<!-- demo-day end -->
<%- include('footer'); -%>
