<%- include('header'); -%>
<!-- <link rel="stylesheet" href="../media.css"> -->
<body class="feedBody">
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu white_text  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                      <li><a href="/">Home</a></li>
                                      <li><a href="/login">Login</a></li>
                                      <li><a href="/signup">Signup</a></li>
                                      <li><a href="/blog">Blog</a></li>
                                      <li><a href="/faq">FAQ</a></li>
                                      <li><a href="/feed">Feed</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="search_icon">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- bradcam_area  -->

    <div class="bradcam_area breadcam_bg_7">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Recipe Feed</h3>
                        <h4 class="subHead">Login to Share your favorite cannabis foods</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->
    <!-- list -->
    <a href="/profile" class="line_btn btn_so">Return to Profile</a>
    <a href="/feed" class="line_btn btn_so">Return to Feed</a>
  <section class="feedPost">
    <ul>
    <% for(var i=0; i<posts.length; i++) {%>
      <section class="feedPostRow">
        <section class="feedPostColumn">
      <li data-id="<%= posts[i]._id%>" data-following="<%= user._id%>"> <!-- Remove data-following: public to view feed in UserFeedPage -->
            <section class="prepTimes">
            <a href="/post/<%= posts[i]._id%>">
              <img src="<%= posts[i].imgPath%>">
            </a>
        <br>
        <section class="prepTime">
          <section class="prepTime-one">
            <span><%= posts[i].caption %></span>
          </section>
          <section class="prepTime-two">
            <span>Time: <%= posts[i].prep %></span>
          </section>
        </section>
        <section class="shortDes">
          <p><%= posts[i].shortDescription %></p>
        </section>
        </section>
        <!-- <p><%= posts[i].description %></p> -->
        <span><%= posts[i].likes %></span>
        <span><%= posts[i].likeCount %></span>
        <span><i class="fa fa-heart <%= posts[i].fave %>" aria-hidden="true"></i></span>
        <!-- <span><i class="fa fa-trash" aria-hidden="true"></i></span> -->
      </li>
        </section>
      </section>
    <% } %>
    </ul>
  </section>
<%- include('footer'); -%>
